    <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="{{item.id}}" ng-repeat="item in navigation.menu.items" ng-class="{active: isActive(item), dropdown: hasChild(item)}">
                    <a href="{{item.href}}" ng-hide="hasChild(item)" ng-class="{active: isActive(item)}">{{item.name}}</a>
                    <a href="{{item.href}}" ng-show="hasChild(item)" ng-class="{active: isActive(item), 'dropdown-toggle':true}" data-toggle="dropdown">{{item.name}}</a>
                    <ul class="dropdown-menu" ng-show="hasChild(item)">
                        <li id="{{child.id}}"><a href="{{child.href}}" ng-repeat="child in item.items">{{child.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>

