<div>
    <p>
        Taskurotta uses Hazelcast Framework for creating shared memory and runtime environment between Taskurotta servers. This framework allow us create transparent scalability. All nodes has auto-discovery feature which helps register new node and distribute memory from other nodes on this node.
    </p>

    <p>
        Main features:
    <ul>
        <li>Dynamic process creation</li>
        <li>Simple run and control of processes</li>
        <li>Reusable Actors in processes(Workers and Coordinators)</li>
        <li>Regression tests based on actors and archive data</li>
        <li>Handy creation of actors</li>
        <li>Handy scalability of actors and servers</li>
        <li>Fault-tolerance and load-balancing</li>
        <li>Process Scheduler</li>
    </ul>
    </p>
</div>
