<ul class="nav nav-list bs-docs-sidenav" data-spy="affix">
    <li><a href="#pre-alfa"><i class="icon-chevron-right"></i> Пре-альфа (февраль)</a></li>
    <li><a href="#alfa"><i class="icon-chevron-right"></i> Альфа (март)</a></li>
    <li><a href="#beta"><i class="icon-chevron-right"></i> Бета (апрель)</a></li>
    <li><a href="#pre-release"><i class="icon-chevron-right"></i> Релиз-кандидат (май)</a></li>
    <li><a href="#release"><i class="icon-chevron-right"></i> Релиз (июнь)</a></li>
</ul>
