    <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li id="rootnav_index"><a href="index.html">Taskurotta</a></li>
                <li id="rootnav_get_started"><a href="get_started.html">Введение</a></li>
                <li id="rootnav_road_map"><a href="road_map.html">План</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Документация (TODO) <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Основная концепция</a></li>
                        <li><a href="#">Сценарии использования</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Пакеты</a></li>
                        <li><a href="#">Аннотации</a></li>
                        <li><a href="#">Исключения</a></li>
                        <li><a href="#">Мониторинг</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Unit тесты</a></li>
                        <li><a href="#">Регрессионное тестирование</a></li>
                        <li><a href="#">A/B тестирование</a></li>
                        <!--<li id="rootnav_requirements"><a href="requirements.html">Requirements</a></li>-->
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
