---
title: Введение
app: get_started
mods:
    - name: app
      version: 0.1.0
    - name: markdown
      version: 0.1.0
    - name:  navigation
      version: 0.1.0
    - name:  footer
      version: 0.1.0
---

<!-- Page content -->
<div class="row">
    <div class="span3 col-lg-3">
        <div class="bs-sidebar">
            <ul class="nav bs-sidenav" ui-view="sideBar">
            </ul>
        </div>
    </div>
    <!-- Doc content -->
    <div class="span9 col-lg-9" ui-view>
    </div>
</div>