<!DOCTYPE html>
<html lang="en" ng-app="{{ app }}App">
<head>
    {{> header }}
    <!-- JS  -->
    {{> scripts }}
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">

{{> navbar }}

<!-- Docs page layout -->
<div class="bs-header">
    <div class="container">
        <h1>{{ title }}</h1>
        <p>{{ lead }}</p>
    </div>
</div>
<!-- Docs container -->
<div class="container bs-docs-container">

    {{> body }}

    <!-- Quick back to top -->
    <a href="#" class="bs-top">
        Back to top
    </a>

</div>

<!-- footer (social buttons, copyright, etc). -->
{{> footer }}

</body>
</html>