<div class="span4">
    <h2>Вышла пре-альфа</h2>
    <p>26 февраля вышла пре-альфа версия продукта. По случаю, добавлен план.</p>
    <p><a class="btn" href="road_map.html">План &raquo;</a></p>
</div>
<div class="span4">
    <h2>Первый запуск</h2>
    <p>14 февраля, в 18 часов 30 минут произведен старт ракетоносителя с Первым исскуственным спутником земли
        (ws-example). Спутник успешно облетел землю и вернулся на базу. Логи приборов показали штатный режим
        работы. Урааа! :)
    </p>
    <p><a class="btn" href="get_started.html">Введение &raquo;</a></p>
    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
</div>
<div class="span4">
    <h2>Начаты работы</h2>
    <p>Жили-были и когда-то очень давно... SWF или откуда ноги растут.</p>
    <p><a class="btn" href="http://aws.amazon.com/swf/">SWF &raquo;</a></p>
</div>