<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    {{> header }}
    <!-- JS  -->
    {{> scripts }}
</head>
<body class="bs-docs-home">

{{> navbar }}

<div class="container">

    {{> body }}

</div>

<!-- footer (social buttons, copyright, etc). -->
{{> footer }}

</body>
</html>